<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput name="username" [(ngModel)]="username" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
  